//&1.0.0&//

///SIZE///
@mixin size(
   //#height#//
   $h: null,
   //#width#//
   $w: null,
   //#min-height#//
   $minh: null,
   //#min-width#//
   $minw: null,
   //#max-height#//
   $maxh: null,
   //#max-width#//
   $maxw: null
) {
   height: $h;
   width: $w;
   min-height: $minh;
   min-width: $minw;
   max-height: $maxh;
   max-width: $maxw;
}
///BACKGROUND///
@mixin bg(
   //#background-color#//
   $c: null,
   //#background-image: url()#//
   $i: null,
   //#background-image: linear-gradient()#//
   $lg: null,
   //#background-image: radial-gradient()#//
   $rg: null,
   //#background-size#//
   $s: null,
   //#background-position#//
   $p: null,
   //#background-repeat#//
   $r: null,
   //#background-origin#//
   $o: null,
   //#background-clip#//
   $clip: null,
   //#background-attachment#//
   $a: null
) {
   @if $i != null {
      background: url(#{$i}) $p $s $r $o $clip $a $c;
   } @else if $lg != null {
      background: linear-gradient(#{$lg}) $p $s $r $o $clip $a $c;
   } @else if $rg != null {
      background: radial-gradient(#{$lg}) $p $s $r $o $clip $a $c;
   } @else {
      background: $p $s $r $o $clip $a $c;
   }
}
///TYPO///
@mixin typo(
   //#color#//
   $c: null,
   //#font-family#//
   $ff: null,
   //#font-size#//
   $fs: null,
   //#font-weight#//
   $fw: null,
   //#font-style#//
   $style: null,
   //#font-variant#//
   $fv: null,
   //#line-height#//
   $lh: null,
   //#letter-spacing#//
   $ls: null,
   //#text-align#//
   $ta: null,
   //#text-decoration#//
   $td: null,
   //#text-indent#//
   $ti: null,
   //#text-overflow#//
   $to: null,
   //#text-shadow#//
   $ts: null,
   //#text-transform#//
   $tt: null,
   //#word-break#//
   $wb: null,
   //#word-spacing#//
   $ws: null,
   //#white-space#//
   $wspace: null
) {
   color: $c;
   @if $fs != null and $ff != null {
      font: $style $fv $fw $fs $ff;
   } @else {
      font-style: $style;
      font-variant: $fv;
      font-weight: $fw;
      font-size: $fs;
      font-family: $ff;
   }
   line-height: $lh;
   letter-spacing: $ls;
   text-align: $ta;
   text-decoration: $td;
   text-indent: $ti;
   text-overflow: $to;
   text-shadow: $ts;
   text-transform: $tt;
   word-break: $wb;
   word-spacing: $ws;
   white-space: $wspace;
}
///PBM///
@mixin pbm(
   $p: null,
   //#padding#//
   $pt: null,
   //#padding-top#//
   $pr: null,
   //#padding-right#//
   $pb: null,
   //#padding-bottom#//
   $pl: null,
   //#padding-left#//
   $b: null,
   //#border#//
   $bt: null,
   //#border-top#//
   $br: null,
   //#border-right#//
   $bb: null,
   //#border-bottom#//
   $bl: null,
   //#border-left#//
   $rad: null,
   //#border-radius#//
   $m: null,
   //#margin#//
   $mt: null,
   //#margin-top#//
   $mr: null,
   //#margin-right#//
   $mb: null,
   //#margin-bottom#//
   $ml: null,
   //#margin-left#//
) {
   padding: $p;
   padding-top: $pt;
   padding-right: $pr;
   padding-bottom: $pb;
   padding-left: $pl;
   border: $b;
   border-top: $bt;
   border-right: $br;
   border-bottom: $bb;
   border-left: $bl;
   border-radius: $rad;
   margin: $m;
   margin-top: $mt;
   margin-right: $mr;
   margin-bottom: $mb;
   margin-left: $ml;
}
///POSITIONS///
@mixin pos-relative(
   //#top#//
   $t: null,
   //#bottom#//
   $b: null,
   //#left#//
   $l: null,
   //#right#//
   $r: null,
   //#z-index#//
   $z: null
) {
   position: relative;
   top: $t;
   bottom: $b;
   left: $l;
   right: $r;
   z-index: $z;
}
@mixin pos-absolute(
   //#top#//
   $t: null,
   //#bottom#//
   $b: null,
   //#left#//
   $l: null,
   //#right#//
   $r: null,
   //#z-index#//
   $z: null,
   //#centering: using-margin / using-transform#//
   $c: null
) {
   position: absolute;
   @if $c == mcenter {
      margin: auto;
      $t: 0;
      $b: 0;
      $l: 0;
      $r: 0;
   }
   @if $c == tcenter {
      $t: 50%;
      $l: 50%;
      transform: translate(-50%, -50%);
   }
   top: $t;
   bottom: $b;
   left: $l;
   right: $r;
   z-index: $z;
}
@mixin pos-fixed(
   //#top#//
   $t: null,
   //#bottom#//
   $b: null,
   //#left#//
   $l: null,
   //#right#//
   $r: null,
   //#z-index#//
   $z: null
) {
   position: fixed;
   top: $t;
   bottom: $b;
   left: $l;
   right: $r;
   z-index: $z;
}
@mixin pos-sticky(
   //#top#//
   $t: null,
   //#bottom#//
   $b: null,
   //#left#//
   $l: null,
   //#right#//
   $r: null,
   //#z-index#//
   $z: null
) {
   position: sticky;
   top: $t;
   bottom: $b;
   left: $l;
   right: $r;
   z-index: $z;
}
///FLEXBOX///
@mixin flex(
   //#flex-direction#//
   $fd: null,
   //#justify-content#//
   $jc: null,
   //#align-items#//
   $ai: null,
   //#align-content#//
   $ac: null,
   //#flex-wrap#//
   $fw: null
) {
   display: flex;
   flex-direction: $fd;
   justify-content: $jc;
   align-items: $ai;
   align-content: $ac;
   flex-wrap: $fw;
}
@mixin flex-item(
   //#flex-grow#//
   $grow: null,
   //#flex-shrink#//
   $shrink: null,
   //#flex-basis#//
   $basis: null,
   //#order#//
   $order: null,
   //#align-self#//
   $aself: null
) {
   @if $grow != null and $shrink != null and $basis != null {
      flex: $grow $shrink $basis;
   } @else {
      flex-grow: $grow;
      flex-shrink: $shrink;
      flex-basis: $basis;
   }
   order: $order;
   align-self: $aself;
}
///GRID///
@mixin grid(
   //#grid-template-rows#//
   $rows: null,
   //#grid-template-columns#//
   $cols: null,
   //#grid-template-areas#//
   $areas: null,
   //#grid-auto-rows#//
   $arows: null,
   //#grid-auto-columns#//
   $acols: null,
   //#grid-auto-flow#//
   $aflow: null,
   //#gap#//
   $gap: null,
   //#row-gap#//
   $rgap: null,
   //#column-gap#//
   $cgap: null,
   //#justify-items#//
   $ji: null,
   //#align-items#//
   $ai: null,
   //#justify-content#//
   $jc: null,
   //#align-content#//
   $ac: null
) {
   display: grid;
   grid-template-rows: $rows;
   grid-template-columns: $cols;
   grid-template-areas: $areas;
   grid-auto-rows: $arows;
   grid-auto-columns: $acols;
   grid-auto-flow: $aflow;
   gap: $gap;
   @if $rgap != null and $cgap != null {
      gap: $rgap $cgap;
   } @else {
      row-gap: $rgap;
      column-gap: $cgap;
   }
   justify-items: $ji;
   align-items: $ai;
   justify-content: $jc;
   align-content: $ac;
}
@mixin grid-item(
   //#grid-row#//
   $row: null,
   //#grid-column#//
   $col: null,
   //#grid-area#//
   $area: null,
   //#order#//
   $order: null,
   //#justify-self#//
   $js: null,
   //#align-self#//
   $as: null
) {
   grid-row: $row;
   grid-column: $col;
   justify-self: $js;
   align-self: $as;
   order: $order;
   grid-area: $area;
}
///EXTRAS///
@mixin disable-selection {
   user-select: none;
}
