// fonts:
$roboto: var(--roboto);

// colors - base:
$white: var(--white);
$background: var(--background);
// colors - blue:
$pri-blue: var(--pri-blue);
$hov-blue: var(--hov-blue);
$foc-blue: var(--foc-blue);
$sec-blue: var(--sec-blue);
$sec-foc-blue: var(--sec-foc-blue);
// colors - green:
$pri-green: var(--pri-green);
$foc-green: var(--foc-green);
// colors - gray:
$pri-gray: var(--pri-gray);
// colors - alerts:
$error: var(--error);
$error-c: var(--error-c);
$error-bc: var(--error-bc);
$success-c: var(--success-c);
$success-bc: var(--success-bc);