@use "../../abstracts" as *;

.form__footer {
   @include typo($c: $white, $ff: $roboto, $fs: 1.6rem, $fw: 300, $ta: center);
   @include pbm($mb: 1.5rem);
   z-index: 10;

   &--link {
      @include typo($c: $pri-green, $fw: 600, $td: none);
      @include pos-relative();
      outline: none;
      cursor: pointer;

      &:hover::after,
      &:focus::after {
         content: "";
         @include size($h: 2px, $w: 100%);
         @include pos-absolute($b: 0, $l: 0, $z: -1);
         border-bottom: 2px solid $foc-green;
      }
   }

   &--svg {
      @include pos-absolute($b: 0, $l: 0, $r: 0);
   }
}
