@use "../../abstracts" as *;

.btn {
   @include size($h: 5rem, $w: 100%);
   @include bg($c: $pri-blue);
   @include typo($c: $white, $ff: $roboto, $fs: 2rem, $fw: 300);
   @include pbm($rad: 10px, $b: none);
   @include flex($jc: center, $ai: center);
   outline: none;
   cursor: pointer;

   &:hover {
      @include bg($c: $hov-blue);
   }
   &:active {
      @include bg($c: $pri-blue);
   }
   &:focus {
      box-shadow: 0 0 0 4px $foc-blue;
   }
}
