@use "../abstracts" as *;

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
	@include size( $h: 2rem , $w: 2rem , );
	@include pbm( $rad: 50% , $b: 2px solid $white , $bb: 2px solid transparent ,);
	animation: spin 1s linear infinite;
}